@import url("base.css");

.anim {
    animation: jumpy 10s ease-in alternate infinite;
}

@keyframes jumpy {
    from { transform: translateX(0) rotate(0deg); }
    to { transform: translate(700px, 200px) rotate(5deg);}
}